@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Due to too many invalid login attempts, this account has been locked out for 24 hours, please try again later.</p>
    <p>Account unlock message sent to the associated email address.</p>
    <p>You can unlock your account immediately using the reset link in the email message.</p>
</header>
